@page "/"
@inject HttpClient Client
@inject NavigationManager Navigation
@using Shared.Models
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using MudBlazor
@using Shared.Contracts.Responses
@rendermode InteractiveWebAssembly

<MudPaper Elevation="23"></MudPaper>

@if (!recipes.Items.Any()) {
    <div>Loading...</div>
} else {
    <MudSimpleTable Elevation="23" Class="nbshad">
        <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>Calories</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in recipes.Items) {
            <tr class="spacing">
                <td>@item.Category</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Calories</td>
                <td>
                    <button class="neobrutalism-btn" @onclick="() => NavigateToRecipeView(item.ID)">
                        <MudIcon Icon="@Icons.Material.Filled.Edit"/>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}

@code {
    RecipesResponse recipes = new();
    
    protected override async Task OnInitializedAsync() {
        recipes = await Client.GetFromJsonAsync<RecipesResponse>("/api/recipes");
    }

    private void NavigateToRecipeView(int id) {
        Navigation.NavigateTo($"RecipeView/{id}");    
    }
}